In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
    "Block": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    "Training Method (1)": [73, 76, 72, 74, 76, 75, 68, 72, 65, 62],
    "Training Method (2)": [81, 78, 80, 79, 71, 75, 72, 84, 73, 69],
    "Training Method (3)": [92, 89, 87, 90, 88, 86, 88, 87, 81, 78]
}

df = pd.DataFrame(data)

df

   Block  Training Method (1)  Training Method (2)  Training Method (3)
0      1                   73                   81                   92
1      2                   76                   78                   89
2      3                   72                   80                   87
3      4                   74                   79                   90
4      5                   76                   71                   88
5      6                   75                   75                   86
6      7                   68                   72                   88
7      8                   72                   84                   87
8      9                   65                   73                   81
9     10                   62                   69                   78

In [4]:
df_long = df.melt(id_vars="Block",
                  var_name="TrainingMethod",
                  value_name="Score")

df_long

    Block       TrainingMethod  Score
0       1  Training Method (1)     73
1       2  Training Method (1)     76
2       3  Training Method (1)     72
3       4  Training Method (1)     74
4       5  Training Method (1)     76
5       6  Training Method (1)     75
6       7  Training Method (1)     68
7       8  Training Method (1)     72
8       9  Training Method (1)     65
9      10  Training Method (1)     62
10      1  Training Method (2)     81
11      2  Training Method (2)     78
12      3  Training Method (2)     80
13      4  Training Method (2)     79
14      5  Training Method (2)     71
15      6  Training Method (2)     75
16      7  Training Method (2)     72
17      8  Training Method (2)     84
18      9  Training Method (2)     73
19     10  Training Method (2)     69
20      1  Training Method (3)     92
21      2  Training Method (3)     89
22      3  Training Method (3)     87
23      4  Training Method (3)     90
24      5  Training Method (3)     88
25      6  Training Method (3)     86
26      7  Training Method (3)     88
27      8  Training Method (3)     87
28      9  Training Method (3)     81
29     10  Training Method (3)     78

In [10]:
t = 3
b = 10

In [14]:
X1 = np.kron(np.ones(b), np.identity(t))
X1 = pd.DataFrame(X1).T
X1.head()

     0    1    2
0  1.0  0.0  0.0
1  0.0  1.0  0.0
2  0.0  0.0  1.0
3  1.0  0.0  0.0
4  0.0  1.0  0.0

In [ ]:
X2 = np.kron(np.identity(b), np.ones(t))
X2 = pd.DataFrame(X2).T
X2.head()

In [8]:
v3 = np.ones(3)
i10 = np.identity(10)
X_2 = pd.DataFrame(np.kron(i10, v3)).T
X_2

      0    1    2    3    4    5    6    7    8    9
0   1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1   1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2   1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3   0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4   0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5   0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
6   0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
7   0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
8   0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
9   0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
10  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
11  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
12  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
13  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
14  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
15  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
16  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
17  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
18  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0
19  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0
20  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0
21  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
22  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
23  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
24  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
25  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
26  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
27  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
28  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
29  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0